@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to our new app.</p>

<p>This app was made to solve the problem of persons that is responsible for some type of items</p>

<p>Let's imagine, you have some teams that go to the sites/objects and they should do some work, but to do this work they should have some materials/tools.
   After some time you can forget what they used and which tools was with them, 
   So this project can help to manage the inventory of workers
   You can create users that will represent your workers, deposits that will represent the workers itself, there is stored the workers items,
</p>

<p>Here You can see all the items of worker and You will see all the transactions between them and main deposit</p>

<p><a href="users">Start by creating your users.</a></p>

<p><a href="deposits">Manage your deposits here.</a></p>

<p><a href="units">Get started by creating your units.</a></p>
